<div class="cborder centered main_item white_background">
	<div class="internal">
		<div class="title">			
      		<%= I18n.t('menu.about') %>
		</div>

		<div>
			<div class="left">
				<iframe src="http://player.vimeo.com/video/43412566?byline=0&amp;portrait=0" width="810" height="455" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>			
			</div>

			<div class="left">
				<br />
				<%= sanitize I18n.t('about.content') %>
			</div>

			<div class="clear">
			</div>
		</div>
	</div>
</div>