<div class="cborder centered main_item white_background">
	<div class="internal">
		<div class="title">			
      		Juntos Together “Lux” 2012
		</div>

		<div>
			<div class="left">
				<iframe src="http://player.vimeo.com/video/43412566?byline=0&amp;portrait=0" width="810" height="455" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>			
			</div>

			<div class="left">
				<br />
				<%= sanitize I18n.t('about.content') %>
				<br /><br />
				<iframe width="810" height="456" src="http://www.youtube.com/embed/npzQjmyWuCU" frameborder="0" allowfullscreen></iframe>
				<br /><br />
				<iframe width="810" height="456" src="http://www.youtube.com/embed/_DZcUh7P4BQ" frameborder="0" allowfullscreen></iframe>
				<br /><br />
				<iframe width="810" height="456" src="http://www.youtube.com/embed/sMtAYkxxtNE" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="clear">
			</div>
		</div>
	</div>
</div>