<div class="cborder centered main_item white_background">
	<div class="internal">
		<div id="form_contact" class="left">
			<%= render 'contacts/form' %>
		</div>

		<div class="right">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=13.720162,+-89.223452&amp;aq=&amp;sll=40.396764,-3.713379&amp;sspn=9.450455,14.128418&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=13.720162,-89.223452&amp;output=embed"></iframe>
		</div>

		<div class="clear">
		</div>
	</div>
</div>