<div class="cborder centered main_item white_background">
	<div class="internal">
		<div class="title">			
      		<%= link_to post.title, post, :remote => use_remote %>
		</div>

		<div>
			<%= truncate(post.content, :length => 200) %>
		</div>
	</div>
</div>