<div class="cborder centered main_item white_background">
  <div class="internal">
    <div class="title">
      Edit Admin
    </div>

    <div>
    	<%= render 'form' %>
    </div>
  </div>
</div>

<div class="centered main_item">
  <%= link_to 'Back', admins_path, :class => "white_link" %>
</div>